fastapi[all]==0.104.1
uvicorn
celery==5.3.4
redis
minio
python-multipart
langchain
langchain_core
pymupdf>=1.23.0
Pillow>=10.0.0
langchain-text-splitters
pdfplumber
# langchain-openai
# langchain_community
chromadb
python-dotenv~=1.0.1
openai
google-cloud-texttospeech
opencv-python-headless
pdf2image
numpy
pydub
google-generativeai
google-genai