fastapi
uvicorn
celery
redis
minio
python-multipart
langchain
langchain_core
pymupdf
Pillow
langchain-text-splitters
pdfplumber
langchain-openai
langchain_community
chromadb
python-dotenv~=1.0.1
openai
google-cloud-texttospeech
pydantic
