fastapi[all]==0.104.1
uvicorn
celery==5.3.4
redis
minio
pymupdf>=1.23.0
langchain-text-splitters
pdfplumber
chromadb
python-dotenv~=1.0.1
openai
google-cloud-texttospeech
opencv-python-headless
pdf2image
numpy
pydub==0.25.1
google-generativeai
google-genai
graphrag==0.3.6